# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test / coverage reports
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/
